.popup__button {
    background-color: black;
    color: white;
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0 0 36px 0;
    cursor: pointer;
    padding: 0;
    border: none;
    transition: 0.5s linear;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width:720px) {
    .popup__button {
        display: block;       
        margin: 0 ;
        margin-bottom: 25px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}