.elements{
    margin: 50px auto 67px auto;
    border: 1px solid red;
    max-width: 884px;
}

@media screen and (max-width:720px){
    .elements{
        margin: 36px 19px 48px 19px;
        max-width: calc(100% - 38px);
        justify-self: center;
        align-self: center;
    }
}