.popup__user-name {
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 0;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 0 10px;
}

.popup__user-name::-webkit-input-placeholder {
    color:black;
}

.popup__user-name::-moz-placeholder {
    color:black;
}

.popup__user-name::-ms-input-placeholder {
    color:black;
}


