.elements__card {
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 361px;
    width: 100%;
    position: relative;
    overflow: hidden;
}


@media screen and (max-width:720px) {
    .elements__card {
        justify-self: center;
    }
}