.elements__like-button_active {
    opacity: 0.5;
    background-image: url(../../../../images/Union.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: flex;
    align-items: center;
    box-shadow: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
}