.elements__like:hover{
    opacity: 0.5;
    cursor: pointer;
    transition:.3s linear;
    justify-self: center;
    align-self: center;
}

.elements__like:active{
    opacity: 0.5;
    background-image: url(../../../images/Union.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}