.profile__add-button {
    background-color: black;
    border: 2px solid #ffffff;
    max-width: 150px;
    min-height: 50px;
    padding: 0;
    align-self: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
    background-image: url(../../../images/vector-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s linear;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:720px) {
    .profile__add-button {
        width: 100%;
        border-radius: 2px;
        max-width: 382px;    
        background-image: url(../../../images/vector-4.svg);   
    }
}
