.profile__info{
    align-self: center;
    max-width: 366px;
    display: grid;
    column-gap: 18px;
    row-gap: 7px;
    grid-template-columns: 1fr 24px;
    max-height: 73px;
    margin-left: 30px;

}

@media screen and (max-width:720px) {
    .profile__info{
        min-height: 54px;
        max-width: 282px;
        margin: 26px auto 36px;
    }
}