.popup__user-description {
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 30px;
    width: 100%;
    min-height: 27px;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.popup__user-description:last-of-type {
    margin-bottom: 45px;
}

.popup__user-description:focus {
    color: black;
    opacity: 1;
}

.popup__user-description::-webkit-input-placeholder {
    color:black;
}

.popup__user-description::-moz-placeholder {
    color:black;
}

.popup__user-description::-ms-input-placeholder {
    color:black;
}